@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    overflow-x: hidden;
}

.color-effect {
    --primary: #dbae98;
    --accent: #e36c32;
    background: linear-gradient(120deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-effect {
    --text: #f4f1ef;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text);
    color: transparent;
}
